@model Blog.Areas.Admin.Models.PostMaintainViewModel
@{
    ViewBag.Title = "更新文章";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "post-form" }))
{
    <label>标题</label>
    <h2>@Html.TextBoxFor(i => i.Title)</h2>
    <label>内容</label>
    <h2>@Html.TextAreaFor(i => i.Content)</h2>
    <button type="submit">提交</button>

}

