@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>小神的博客</h1>
    <p class="lead">这是一个自己玩的地方。</p>
    <p>@Html.ActionLink("关于我》", "Contact", "Home", new { @class = "btn btn-default" })</p>
</div>

<div class="col-md-4">
    <h2>最新博客</h2>
    <ul>
        <li>文章1</li>
        <li>文章2</li>
        <li>文章3</li>
        <li>文章4</li>
        <li>文章5</li>
    </ul>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">更多&raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>阅读排行</h2>
    <li>文章1</li>
    <li>文章2</li>
    <li>文章3</li>
    <li>文章4</li>
    <li>文章5</li>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">更多&raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>评论排行</h2>
    <li>文章1</li>
    <li>文章2</li>
    <li>文章3</li>
    <li>文章4</li>
    <li>文章5</li>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">更多&raquo;</a></p>
</div>
</div>